@font-face {
    font-family: sunday;
    src: url(/fonts/sunday_walk/Sunday\ Walk.otf);
}

html {
    background-color: rgb(74, 11, 133);
}

.inicio > .nome > h1 {
    color: white;
    text-align: center;
    font-family: sunday;
    font-size: 36px;
}

.inicio > .nome > h2 {
    font-family: sunday;
    color: rgb(155, 90, 230);
    text-align: center;
    font-size: 35px;

}

.inicio > .texto {
    border: 1px solid white;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 12px;
    width: 1000px;
    color: aliceblue;
    text-align: center;
    
}