@font-face {
    font-family: ephesis;
    src: url(fonts/Ephesis/Ephesis-Regular.ttf);
}



html {
    background-color: rgb(255, 255, 255);
}
.inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px;
  font-family: sans-serif;
  text-align: center;
}

.nome {
    font-size: 45px;
    color: rgb(77, 0, 128);
    text-align: center;
    font-family: ephesis;
}

.terra,
.lua {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 900px;
}

.terra {
    margin-top: 100px;
}

.lua {
    margin-top: 200px;
}

.marte {
    margin-top: 200px;
}


.terra img {
  order: 1;
   /* imagem à esquerda */
}

.lua img {
  order: 2; /* imagem à direita */
}

.lua h1 {
  text-align: left;
}

.terra h1 {
    order: 2;
  text-align: right;
}

.lua,
.terra {
  flex-direction: row;
}

.lua img,
.terra img {
  height: 150px;
}

.marte {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.marte img {
  height: 230px;
}

.final {
  font-size: 28px;
  margin-top: 40px;
  margin-top: 200px;
}

.final > .voce {
    color: red;
}

.texto {
    margin: 150px auto 0 auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    width: 600px;
    font-size: 15px;
}